<div class="headerWrap">
    <div>
        <h1 class="pragmaticLogo">Pragmatic</h1>
    </div>
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if  not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>Login</span>
        </a>
        <a href="{% url 'accountapp:create' %}">
            <span>SignUp</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>Mypage</span>
        </a>
        <a href="{% url 'accountapp:delete' pk=user.pk %}">
            <span>Quit</span>
        </a>
        <a href="{% url 'accountapp:logout' %}">
            <span>Logout</span>
        </a>
        {% endif %}
    </div>
</div>